html, body {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 24px;
}
body.inverted {
	background-color: black;
	color: #dcdcdc;
}

body > .header,
body > table {
	flex-grow: 0;
	padding-left: 16px;
	padding-right: 16px;
}
body > .footer {
	flex-grow: 1;
}

h1 {
	text-align: center;
	font-size: 50px;
	font-weight: 400;
}

.loading {
	font-size: 40px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-schedules > table {
	width: 100%;
}

thead > tr > th {
	padding-bottom: 8px;
}

tr.weeks > th > .words {
	font-size: 36px;
	font-weight: 400;
	display: block;
}
tr.weeks > th > .date {
	font-size: 20px;
	font-weight: 200;
	color: #646464;
}

tr.service-header {
	font-size: 36px;
	font-weight: 300;
	padding-top: 24px;
}

tr.service-header > td.service-title > div {
	display: flex;
	justify-content: center;
	align-content: baseline;
	/* gap: 16px; */
}

td.service-title > div {
	flex-direction: column;
	align-items: center;
	gap: 2px;
	
	padding-top: 16px;
	padding-bottom: 16px;
}
td.service-title .service-name {
	font-size: 36px;
	font-weight: 300;
	display: block;
}
td.service-title .service-time {
	font-size: 20px;
	font-weight: 100;
	color: #646464;
}
.inverted td.service-title .service-time {
	color: #aaaaaa;
}

tr.service-header > td {
	/* border-top: 1px solid #a6a6a6; */
	padding-top: 14px;
}

td.position {
	font-size: 18px;
	font-weight: 100;
	padding-left: 8px;
	padding-bottom: 20px;
	width: 14.6%;
	vertical-align: top;
	color: #535353;
}
.inverted td.position {
	color: #aaaaaa;
}
td.position.unfilled, td.name.unfilled {
	color: #8b8b8b;
}
td.name {
	font-size: 18px;
	padding-right: 8px;
	padding-bottom: 16px;
	width: 18.7%;
	vertical-align: top;
}


.footer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 32px;
}

.footer > img {
	height: 150px;
}