body:not(.inverted) {
    color: #000 !important;
    background-color: #FFF !important;

    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

body.inverted {
    color: #FFF !important;
    background-color: #000 !important;
}

.week-column {
    padding: 0 20px 0 20px;
}


h2 {
    padding-bottom: 15px;
}

.page-header {
    margin-bottom: 50px;
}


.inverted .warning  {
    background-color: #5E4F00 !important;
}

body:not(.inverted) .warning {
    background-color: #d2ca72 !important;
}


.inverted small  {
    color: #999 !important;
}